<!-- Widget About -->
<div class="widget ntp-about">
  <h2 class="widget-title">
    About me
  </h2>
  <div class="widget-content">
    <img src="images/widgets/about-me.jpg" alt=""/>

    <h2 class="title">
      <a href="#">William Shatner</a>
    </h2>
    <p class="description">
      Taciti nunc magna tincidunt adipiscing pretium pharetra platea. Vivamus quisque duis ullamcorper Adipiscing aliquet lectus.Amet augue rutrum gravida tellus nostra integer netus
    </p>
  </div>
</div>
<!-- End Widget About -->
