<!-- Latest Posts -->
<div class="widget ntp-latest-posts">
  <h2 class="widget-title">Latest Posts</h2>
  <div class="widget-list">
    <div class="item clearfix">
      <a href="#">
        <div class="item-image" style="background-image: url('images/widgets/posts/1.jpg')">
          <img src="images/widgets/posts/1.jpg" alt="I have a happy and peaceful fife there">
        </div>
      </a>
      <div class="widget-item-content">
        <h3 class="item-title">
          <a href="#">I have a happy and peaceful fife there</a>
        </h3>
        <a href="#" class="item-meta"><span>October 9, 2016</span></a>
      </div>
    </div>
    <div class="item clearfix">
      <a href="#">
        <div class="item-image" style="background-image: url('images/widgets/posts/2.jpg')">
          <img src="images/widgets/posts/2.jpg" alt="Their happiness comes before anything else">
        </div>
      </a>
      <div class="widget-item-content">
        <h3 class="item-title">
          <a href="#">Their happiness comes before anything else</a>
        </h3>
        <a href="#" class="item-meta"><span>October 9, 2016</span></a>
      </div>
    </div>
    <div class="item clearfix">
      <a href="#">
        <div class="item-image" style="background-image: url('images/widgets/posts/3.jpg')">
          <img src="images/widgets/posts/3.jpg" alt="The basis of friendship is sharing">
        </div>
      </a>
      <div class="widget-item-content">
        <h3 class="item-title">
          <a href="#">The basis of friendship is sharing</a>
        </h3>
        <a href="#" class="item-meta"><span>October 9, 2016</span></a>
      </div>
    </div>
    <div class="item clearfix">
      <a href="#">
        <div class="item-image" style="background-image: url('images/widgets/posts/4.jpg')">
          <img src="images/widgets/posts/4.jpg" alt="The sooner you try the sooner you can succeed">
        </div>
      </a>
      <div class="widget-item-content">
        <h3 class="item-title">
          <a href="#">The sooner you try the sooner you can succeed</a>
        </h3>
        <a href="#" class="item-meta"><span>October 9, 2016</span></a>
      </div>
    </div>
  </div>
</div>
<!-- End Latest Posts -->
