<div class="widget ntp-mailchimp">
  <h2 class="widget-title">Mailchimp</h2>
  <p class="ntp-description">Paste into the external application you'd like to conquer connect to. Or just scan the QR code
    below.
  </p>
  <form class="ntp-subscribe">
    <div class="form-item form-remove">
      <input type="email" class="ntp-subscribe-email" placeholder="Your mail..." value="" required="">
    </div>
    <div class="form-submit form-remove form-submit">
      <input type="submit" class="ntp-btn ntp-subscribe" value="">
    </div>
  </form>
  <p class="subscribe-status"></p>
</div>
