<div class="widget ntp-twitter">
  <h2 class="widget-title">Recent Tweets</h2>
  <div class="widget-tweet-content">
    <div class="item">
      <div class="widget-item-content">
        <p>
          <a href="#" target="_blank">Taciti nunc magna tincidunt adipiscing pretium pharetra platea. Vivamus quisque
            duis ullamcorper Adipiscing</a>
        </p>
      </div>
    </div>
    <div class="item">
      <div class="widget-item-content">
        <p>
          <a href="#" target="_blank">Taciti nunc magna tincidunt adipiscing pretium pharetra platea. Vivamus quisque
            duis ullamcorper Adipiscing</a>
        </p>
      </div>
    </div>
  </div>
</div>
